<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a built-in middleware function in Express.<br> It parses incoming requests with JSON payloads<br>{{name}} and is based on body-parser.</h1>
</body>
</html>